.clinic {
    &-image {
        margin-top: 80px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 80%;
        margin: auto;
        height: 400px;
    }
}