.doctor {
    &-btn {
        padding: 5px 5px;
        margin: 15px 15px;
        outline: none;
        border: none;
        border-radius: 5px;
        background: linear-gradient(45deg, #d85923 15%, #e29338 100%);
        &:hover {
            opacity: 0.8;
        }
    }
    &-top {
        display: flex;
        gap: 30px;
        padding: 0 30px;
        margin-bottom: 30px;
        justify-content: space-between;
        &-left {
            width: 50%;
        }
        &-right {
            flex: 1;
        }
    }
    &-bottom {
        padding: 0 30px;
        margin-bottom: 30px;
    }
}