.specialty {
    &-img {
        height: 160px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 20px;
        margin-bottom: 10px;
        &-1 {
            background-image: url(../../../../assets/images/Specialty/120331-co-xuong-khop.jpg);
        } 
        &-2 {
            background-image: url(../../../../assets/images/Specialty/120933-tieu-hoa.jpg);
        }
        &-3 {
            background-image: url(../../../../assets/images/Specialty/120741-tim-mach.jpg);
        }
        &-4 {
            background-image: url(../../../../assets/images/Specialty/121042-than-kinh.jpg);
        }
        &-5 {
            background-image: url(../../../../assets/images/Specialty/193531-chup-mri.jpg);
        }
        &-6 {
            background-image: url(../../../../assets/images/Specialty/121146-tai-mui-hong.jpg);
        }
    }
}





