.specialty {
    &-img {
        height: 160px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}





