.detail { 
    &-container {
        padding-top: 100px;
        margin: 0 auto;
    }
    &-image {
        margin-right: 30px;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        flex-shrink: 0;
    }
    &-profile {
        display: flex;
        align-items: center;
    }
    &-general {
        width: 50%;
    }
    &-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &-infor {
        padding: 30px;
        background-color: #F9F9F9;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        img {
            margin-top: 20px;
            width: 100%;
        }
    }
    &-schedule {
        display: flex;
        align-items: flex-start;
        padding: 20px 0;
        &-left {
            // width: 50%;
            margin-right: 30px;
        } 
        &-right {
            // flex: 1;
            margin-bottom: auto;
        }
    }
}

.container {
    width: 75% !important;
}