
    .detail-image {
        margin-right: 30px;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        flex-shrink: 0;
    }
    .detail-profile {
        display: flex;
        align-items: center;
    }
    .detail-general {
        width: 50%;
    }
