.login {
    background-color: #000;
    background-image: url('../../assets/images/About/photo-1531972497489-8eb337acf6e5.jfif');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    &-container {
        z-index: 999;
        background: #CCAA83;
        width: 400px;
        padding: 50px 40px;
        border-radius: 20px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    } 
    &-input {
        padding: 10px 5px;
        margin: 10px 0;
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid black;
    }
    &-btn {
        height: 40px;
        width: 80%;
        margin: 20px 35px;
        border: none;
        border-radius: 25px;
        color: white;
        background: linear-gradient(90deg, rgba(34,193,195,1) 0%,rgba(253,187,45,1) 100%);
        transition: opacity 0.3s linear;
        &:hover {
            opacity: 0.7;
        }
    }
    &-options {
        display: block;
        margin: 20px 0;
        text-align: center;
    }
    &-password {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        i {
            position:absolute;
            right: 10px;
            font-size: 20px;
            color: gray !important;
        }
    }
}

i {
    margin-left: 15px;
    font-size: 40px;
    border-radius: 50%;
    cursor: pointer;
}

i:nth-child(1) {
    color: #3B5998;
}

i:nth-child(2) {
    color: #56ADF0;
}

i:nth-child(3) {
    color: #DB4E3F;
}

  .more-snow {
    height: 100vh;
    &:before,
    &:after {
      content: "";
      position: fixed;
      top: -3000%;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(black, 0.01);
      background-image: url('../../assets/images/About/4-2-white-snow-png.png');
      background-size: 30%;
      animation-name: MOVE-BG;
      animation-duration: 800s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  .more-snow {
    height: 100vh;
    &:before {
      filter: blur(4px);
      opacity: 0.8;
      top: -2500%;
      background-size: 60%;
      animation-duration: 400s;
    }
    &:after {
      filter: blur(2px);
      opacity: 0.8;
      top: -2000%;
      background-image: url('../../assets/images/About/4-2-white-snow-png.png');
      background-size: 70%;
      animation-duration: 300s;
    }
  }
  
  @keyframes MOVE-BG {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(70%);
    }
  }
  