@import "../../styles/common.scss";

.header {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
    &-right {
        display: flex;
        align-items: center;
    }
    &-language {
        &-VI, &-EN {
            margin: 0 5px;
            cursor: pointer;
            font-weight: bold;
        } 
    }
    &-active {
        color: red;
    }
}





