@import "../../styles/common.scss";

.header {
    padding: 10px 20px;
    z-index: 99;
    display: flex;
    align-items: center;
    background-color: #343A40;
    
    position: relative;
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
    &-left {
        width: 20%;
    }
    &-brand {
        color: white;
        font-weight: 500;
        font-size: 18px;
    }
    &-logo {
        height: 40px;
        widows: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }
    &-right {
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        &-left {
            display: flex;
            align-items: center;
            gap: 10px;
            a {
                color: white;
            }
        }
    }
    &-language {
        &-VI, &-EN {
            margin: 0 5px;
            cursor: pointer;
            font-weight: bold;
        } 
    }
    &-active {
        color: red;
    }
}

.body {
    display: flex;
    background-color: #f1d9cb;
    &-left {
        width: 20%;
    }
    &-right {
        flex: 1;
    }
}



